@font-face {
    src: url("/resources/fonts/UniSansHeavy.otf"),
}

.table-view{
    -fx-background-color: #474747;
    -fx-background-radius: 22 22 5 5;
    -fx-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: #575757;
    -fx-background-radius: 30;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-family: 'Uni Sans Heavy CAPS';
}

.table-cell {
    -fx-background-color: #474747;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Uni Sans Heavy CAPS';
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #7289da;
}